<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../style.css"/>
    <title>Upload</title>
    <style>
    </style>
</head>
<body>
    <div class="cover">
        <h1>UPLOAD  File Here!!!</h1>
        <form action="/index/upload" method="post" enctype="multipart/form-data" >
            <label>ID</label>
            <input type="file" name="file"/><br/>
            <input type="submit" value="UPLOAD"/>
        </form>
    </div>
</body>
</html>